<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OREGANO</title>
    <link rel="icon" href="{{ url_for('static', filename='hp4.png')}}">
</head>
<body>
    <h3>WHAT I CAN HELP YOU??</h3>
    <iframe src='https://webchat.botframework.com/embed/aioregangoai-bot?s=OKRti1Cq_24.vT3pYVQWnB0WXWPOwKtQXD0u20zYFpU030F6SdCwYO0'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</body>
</html>
